.body {
    background-color: #121212;

    display: grid;
    grid-template-areas: 
    'header header header'
    'aside main main'
    'aside main main'
    'footer footer footer'
    ;
}

header {
    grid-area: header;
    background-color: antiquewhite;
}

aside {
    grid-area: aside;
    background-color: bisque;
}

main {
    grid-area: main;
    background-color: burlywood;
}

footer {
    display:flex;
    grid-area: footer;
    background-color: blue;
}

nav {
    display:flex;
    justify-content: center;
}